<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Result</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: darkgray;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .resultCard {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            text-align: center;
        }

        h4 {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div style="margin-left: 330px;">
                <% if(typeof message !='undefined' ){ %>
                    <h3>
                        <%= message %>
                    </h3>
                    <% } %>
            </div>
        </div>
        <br>
        <div class="resultCard" style="margin-left: 330px;">
            <h4>Hello <%=individual.name %>'s this is your Result </h4>
            <p><strong>Roll no:</strong>
                <%= individual.rollNumber %>
            </p>
            <p><strong>Name:</strong>
                <%= individual.name %>
            </p>
            <p><strong>Date of birth:</strong>
                <%= individual.dob %>
            </p>
            <p><strong>Marks:</strong>
                <%= individual.marks %>
            </p>
        </div>
    </div>

</body>

</html>